<form method="get" class="center" id="stocks-parameters-form" style="display: inline-block !important; width: 97%; margin: 0;">
  <button class="ui icon button" onclick="submitForm('#stocks-parameters-form')">
    <i class="search icon"></i>
  </button>
</form>

<div class="ui  input center" style="display: inline-block; margin: 20px auto !important; width: 100% !important; ">
  <form method="get" class="center" id="stocks-search-form" style="display: inline-block !important; width: 97%; margin: 0;">
    <input type="text" name="query" style="width: 90%; margin: 0;" placeholder="Search by stock name..." value="<%= defined?(@current_search_text) ? @current_search_text : "" %>">
    <button class="ui icon button" onclick="submitForm('#stocks-search-form')">
      <i class="search icon"></i>
    </button>
  </form>
</div>

<table class="ui selectable selectable-default striped celled table stocks-table center">
  <thead>
  <th>Symbol</th>
  <th>Stock Price</th>
  <th>52 Week Low/High</th>
  <th>Closeness to 52w low</th>
  <th>Closeness to 52w high</th>
  <th>Last Day's Change</th>
  <th>5 Day Change</th>
  <th>30 Day Insider Volume</th>
  <th>Earnings per Share</th>
  <th>Analyst Year-End Target Price</th>
  </thead>
  <tbody>
  <% @stocks.each do |stock| %>
      <tr class="pointer-hover" onclick="window.location = '<%= stock_url(stock.symbol) %>';">
        <td><b><%= stock.symbol %></b></td>
        <td>$<%= stock.last_trade_price_only %></td>
        <td> <%= "$#{stock.year_low}" %> / <%= "$#{stock.year_high}" %> </td>
        <td>
          <% val = stock.last_trade_price_only - stock.year_low %>
           +<%= number_to_percentage( val / stock.year_low * 100, precision: 0) %>  ($<%= val %>)
        </td>
        <td>
          <% val = stock.last_trade_price_only - stock.year_high %>
          <%= number_to_percentage( val / stock.year_high * 100, precision: 0) %>  ($<%= val %>)
        </td>
        <td class="<%= stock.change < 0 ? "negative" : "positive" %>">$<%= stock.change %> (<%= stock.changein_percent %>%)</td>
        <td></td>
        <td><%= stock.insider_transactions.sum(:net_shares) %></td>
        <td><%= stock.earnings_share %></td>
        <td> $<%= stock.oneyr_target_price %> </td>
      </tr>
  <% end %>
  </tbody>
</table>

<div class="center" style="margin-top: 20px !important;">
  <%= will_paginate @stocks, renderer: WillPaginateSemanticUi::ActionView::Renderer %>
</div>
